In [20]:
# from datapackage import Package

# package = Package('https://datahub.io/core/oil-prices/datapackage.json')

# # print list of all resources:
# print(package.resource_names)

# # print processed tabular data (if exists any)
# for resource in package.resources:
#     if resource.descriptor['datahub']['type'] == 'derived/csv':
#         print(resource.read())

In [22]:
# resource.read()

In [23]:
import pandas as pd
import datetime 
import pandas_datareader.data as web
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
from tensorflow import keras
from tensorflow.keras import metrics
from tensorflow.keras.utils import plot_model
import datetime
import quandl

In [24]:
oil = quandl.get("FRED/DCOILBRENTEU", authtoken='BMrYvzu7Vgow_zBBTE_k')
oil.tail()

            Value
Date
2020-03-09  35.33
2020-03-10  36.66
2020-03-11  34.45
2020-03-12  31.05
2020-03-13  33.00

In [25]:
start = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2020, 3, 20)

df = web.DataReader('BZ=F', 'yahoo', start , end)
df.tail()

                 High        Low       Open      Close      Volume  Adj Close
Date
2020-03-16  32.980000  29.340000  32.840000  30.170000  18173626.0  30.170000
2020-03-17  31.150000  28.430000  30.650000  28.459999  12204019.0  28.459999
2020-03-18  29.190001  24.510000  29.059999  27.639999  16073240.0  27.639999
2020-03-19  29.320000  24.990000  25.080000  28.770000  14881468.0  28.770000
2020-03-20  30.930000  26.790001  29.170000  27.410000  20858906.0  27.410000